# This file records the answers used to generate the project with Copier
# You can use it later to update or re-apply the template

project_name: "{{ project_name }}"
project_slug: "{{ project_slug }}"
include_ci: {{ include_ci }}
